.page {
    align-items: center;
    flex-direction: column;
    background-color: #005952;
    font-family: Century Gothic,CenturyGothic,AppleGothic,sans-serif;
}
.form {
    margin-left: 30;
    margin-right: 30;
    flex-grow: 2;
    vertical-align: middle;
}
TextView{
    text-align: center;
    font-size: 25;
    color: white;
}
