
<GridLayout *ngIf="post" [columns]="canBeSubscribe?'auto, auto, 100, *':'auto, *, auto'" class="transactions-list-item verify" height="85" width="100%">
    <StackLayout col="0" class="mr-10" height="56" width="56"
                 class="badge">
        <Label [text]="getPostImage() " class="icon">
        </Label>
    </StackLayout>
    <StackLayout col="1" verticalAlignment="center"  >
        <Label [text]="getAuthorName()" class="title">
        </Label>
        <Label [text]="getAuthorTitle()"
               class="category"></Label>
    </StackLayout>
    <StackLayout col="2" verticalAlignment="center" >
        <Label (tap)="seeProfil()" marginTop="15" class="ammount" text="Voir le profil">
        </Label>
    </StackLayout>
    <StackLayout *ngIf="canBeSubscribe"  col="3" verticalAlignment="center" height="100%" width="100" style="text-align: center">
        <Label (tap)="subscribe()" marginTop="15" height="50%" verticalAlignment="center" horizontalAlignment="center" class="ammount subscribe" text="+S'abonner">
        </Label>
    </StackLayout>

</GridLayout>

<!--<FormattedString>
                    <Span [text]="item.ammount < 0 ? '- $' : '$'"
                          [class]="'quantity ' + (item.ammount < 0 ? 'red' : 'green')">
                    </Span>
    <Span [text]="mathAbs(item.ammount)"
          [class]="'quantity ' + (item.ammount < 0 ? 'red' : 'green')">
                    </Span>
    <Span text=" &#xedbd;" class="icon"></Span>
</FormattedString>-->
