<FlexboxLayout class="page" [nsHideActionBar]>
    <StackLayout class="form">
        <Image class="logo" src="https://i.ibb.co/bWRr2Z1/logo.png"></Image>

        <PreviousNextView>
            <GridLayout rows="auto, auto, auto">
                <StackLayout row="0" class="input-field">
                    <TextField class="input" hint="Email"
                               keyboardType="email" autocorrect="false"
                               autocapitalizationType="none"
                               returnKeyType="next"
                               [(ngModel)]="user.email"
                    ></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <StackLayout row="1" class="input-field">
                    <TextField #password class="input"
                               hint="Password" secure="true"
                               [(ngModel)]="user.password"
                    ></TextField>
                    <StackLayout class="hr-light"></StackLayout>
                </StackLayout>
                <ActivityIndicator rowSpan="3" [busy]="loading"></ActivityIndicator>
            </GridLayout>
        </PreviousNextView>
        <Button text="Se connecter"
                 class="btn btn-primary m-t-20 con"
                (tap)="login()" [isEnabled]="!loading"></Button>
        <Label text="Mot de passe oublié ?" class="login-label"
        ></Label>
        <Button class="btn btn-primary m-t-20 btn-google" [isEnabled]="!loading">
            <FormattedString>
                <Span text="&#xf1a0;" class="fab icon-google"></Span>
                <Span text="     Se connecter avec Google" style="color: black"></Span>
            </FormattedString>
        </Button>
    </StackLayout>
    <Label class="bottom-label sign-up-label" (tap)="navigateToRegister()">
        <FormattedString>
            <Span text="Vous n'avez pas de compte ? "></Span>
            <Span  text=" Inscrivez-vous " class="bold"></Span>
        </FormattedString>
    </Label>
</FlexboxLayout>
