<!-- https://docs.nativescript.org/angular/core-concepts/angular-navigation.html#page-router-outlet -->
<Page xmlns="http://schemas.nativescript.org/tns.xsd"
      xmlns:x="nativescript-statusbar" androidStatusBarBackground="#005952" >
    <!-- Use the tag with StatusBar to style it
         Available ios settings:
         default
         light
         dark
         opaque
    <x:StatusBar  barColor="#00A7DC" /> -->
    <StackLayout orientation="vertical" height="100%">
        <page-router-outlet></page-router-outlet>
    </StackLayout>
</Page>
