<GridLayout class="page" columns="auto, *, auto" top="50" height="85" width="100%" style="color: white;">
    <button (tap)="setPart(1)" col="0" [class.activated]="part==1">
        <FormattedString>
            <Span text="&#8962;" class="fas t-18"></Span>
        </FormattedString>
    </button>
    <button (tap)="setPart(2)" col="1" [class.activated]="part==2">
        <FormattedString>
            <Span text="&#xf0c0;" class="fas t-18"></Span>
        </FormattedString>
    </button>
    <button  (tap)="setPart(3)" col="2" [class.activated]="part==3">
        <FormattedString>
            <Span text="&#xf007;" class="fas t-18"></Span>
        </FormattedString>
    </button>
    <!-- <StackLayout _id="search-button" (tap)="setPart(2)" col="1" [class.activated]="part==2">
         <Image [xlink:href]="peopleResUrl+'svg'" [src]="peopleResUrl+'png'" width="90" height="90"></Image>
     </StackLayout>
     <StackLayout _id="singleButton" (tap)="setPart(3)"col="2" [class.activated]="part==3">
         <Image [xlink:href]="singleResUrl+'svg'" [src]="singleResUrl+'png'" width="90" height="90"></Image>
     </StackLayout>
   <button  _id="search-button" (tap)="setPart(2)" col="1" [class.activated]="part==2">
     </button>
     <button _id="singleButton" (tap)="setPart(3)"col="2" [class.activated]="part==3">
     </button>-->
</GridLayout>
