<FlexboxLayout class="page">
    <StackLayout class="form">
        <Label class="text" textWrap="true" text=" Veuillez s'abonnez au compte Whatudo pour ne rien rater des informations."></Label>
        <Image class="logo" src="https://i.ibb.co/bWRr2Z1/logo.png"></Image>

        <Button class="btn btn-primary m-t-20 btn-google">
            <FormattedString>
                <Span text="&#xf067;" class="fas"></Span>
                <Span text="     S'abonner"></Span>
            </FormattedString>
        </Button>
    </StackLayout>

    <Label class="login-label sign-up-label">
        <FormattedString>
            <Span text=" Continuer  "></Span>
            <Span text="&#xf105;" class="fas"></Span>
        </FormattedString>
    </Label>
</FlexboxLayout>
